@model IEnumerable<Groep9.NET.Models.Domein.Reservatie>

<h2>Reservatie</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reservatie</title>
</head>
<body>

    <table class="table table-responsive" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product.Naam)
            </th>
           <th>
               @Html.DisplayNameFor(model => model.StartDatum)
           </th>
            <th>
                @Html.DisplayNameFor(model => model.EindDatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aantal)
            </th>           


        </tr>
@if (!Model.Any())
{
    <tr>
        <td colspan="9">@User.Identity.Name heeft geen reservaties</td>
    </tr>

}
@foreach (var item in Model)
{
        <tr>
            <td>
                <a href="~/Content/images/@(@Html.DisplayFor(modelItem =>item.product.Foto))" data-lightbox="image-@item.product.ProductId" data-title="@Html.DisplayFor(modelItem => item.product.Naam)">

        <img style="width: 75px; height: 75px;" alt="@Html.DisplayFor(modelItem => item.product.Naam)" src="~/Content/images/@(@Html.DisplayFor(modelItem =>item.product.Foto))" />
    </a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.product.Naam)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StartDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EindDatum)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.aantal)
            </td>
            
           
        </tr>
}

    </table>
</body>
</html>
