@using System.Security.Policy
@model IEnumerable<Groep9.NET.Product>

@{
    ViewBag.Title = "Catalogus";
    ViewBag.Active = "Product";
}

<h2>Productcatalogus</h2>

<p>
    
</p>

<p>



    @using (@Html.BeginForm("Index", "Catalogus"))
    {
        @*@Html.RadioButton("zoekenNaar", "Naam", true)<text> Naam</text>
            @Html.RadioButton("zoekenNaar", "Omschrijving") <text>Omschrijving </text><br />*@
        <div class="row">
            <div class="col-md-3">
                @Html.Label("trefwoord:", htmlAttributes: new {@class = "control-label "})
            </div>
            <div class="col-md-3">
                @Html.Label("doelgroep:", htmlAttributes: new {@class = "control-label "})
            </div>
            <div class="col-md-3">
                @Html.Label("leergebied:", htmlAttributes: new { @class = "control-label " })
            </div>
        </div>  
            <div class="row">
                <div class="col-md-3">
                    @Html.TextBox("trefwoord", "", "geef trefwoord..", new { @class = "form-control" })
                </div>
                <div class="col-md-3"> 
                    @Html.DropDownList("doelgroep", ViewBag.doelgroep as SelectList, "-- Selecteer doelgroep --", new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.DropDownList("leergebied", ViewBag.leergebied as SelectList, "-- Selecteer leergebied --", new { @class = "form-control" })
                </div>




                <div class="col-md-3">
                    <input type="submit" value="Zoeken" class="btn btn-default " />
                    @Html.ActionLink("Reset zoekfilter", "index", "Catalogus", new { @class = "btn btn-default" })
                </div>
            </div>
            }


</p>

<div id="bestellingen">
    @Html.Partial("Producten", Model)
</div>