@model IEnumerable<Groep9.NET.Product>

@{
    ViewBag.Title = "Catalogus";
    ViewBag.Active = "Product";
}

<h2>Productcatalogus</h2>

<p>

        
    Zoeken op :

    @using (@Html.BeginForm("Index","Catalogus"))
    {
        @*@Html.RadioButton("zoekenNaar", "Naam", true)<text> Naam</text>
        @Html.RadioButton("zoekenNaar", "Omschrijving") <text>Omschrijving </text><br />*@

        @Html.TextBox("trefwoord", "", "", new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-default"/>
        @Html.ActionLink("Geef alle weer","index","Catalogus")
    }


</p>

<div id="bestellingen">
    @Html.Partial("Producten", Model)
</div>