@model IEnumerable<Groep9.NET.Product>

<div class="hidden-sm hidden-xs">
    <table class="table table-responsive ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ProductNummer)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Prijs)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Aantal)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Uitleenbaarheid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaats)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Firma)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Doelgroep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leergebied)
            </th>
            <th></th>
        </tr>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="7">Er zijn geen rijen gevonden</td>
            </tr>

        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    <img alt="@Html.DisplayFor(modelItem => item.Naam)" src="~/Content/images/@(@Html.DisplayFor(modelItem =>item.FotoUrl))" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ProductNummer)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Prijs)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Aantal)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Uitleenbaarheid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plaats)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Firma)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Doelgroep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leergebied)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ProductNummer })

                </td>
            </tr>
        }

    </table>
</div>
<div class="visible-sm visible-xs">
    @if (!Model.Any())
    {

        <h3>Geen producten gevonden</h3>

    }
    @foreach (var item in Model)
    {
        @*<a href="@Url.Action("Details", "Details", new {id = item.ProductNummer})" class="product-small">
            <div class="row ">

                <div class="thumbnail right-caption">
                    <div class="caption">
                        <h2>@Html.DisplayFor(modelItem => item.Naam)</h2>
                        <p>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
                        <p>@Html.ActionLink("Details", "Details", new { id = item.ProductNummer })</p>
                    </div>
                </div>
                <div class=" col-xs-12 product-small">
                    <div class="col-xs-4">
                        <img alt="@Html.DisplayFor(modelItem => item.Naam)" src="@Html.DisplayFor(modelItem => item.FotoURL)" />
                    </div>

                    <div class="col-xs-8">
                        <h2>@Html.DisplayFor(modelItem => item.Naam)</h2>
                        <p>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
                    </div>
                </div>

            </div>
        </a>
        <br />*@

        <div class="row ">

            <div class="col-xs-12 product-small">
                <div class="col-xs-4">
                    <img alt="@Html.DisplayFor(modelItem => item.Naam)" src="~/Content/images/@(@Html.DisplayFor(modelItem =>item.FotoUrl))" />
                </div>
                
                <div class="caption col-xs-8">
                    <h2>@Html.DisplayFor(modelItem => item.Naam)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Omschrijving)</p>
                    <p>@Html.ActionLink("Details", "Details", new {id = item.ProductNummer})</p>
                </div>
            </div>
            <br />
        </div>
        
    }
            </div>
