@model IEnumerable<Groep9.NET.Product>

<h2>Verlanglijst</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aantal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uitleenbaarheid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plaats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firma)
        </th>
        <th></th>
    </tr>
  
</table>


