@using System.Linq
@using Groep9.NET.Helpers
@using Groep9.NET.Models.Domein
@model Groep9.NET.Product

@{
    ViewBag.Title = "Detail";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
    
            <dd>
                <img style="width: 150px; height: 150px;" alt="@Html.DisplayFor(model => model.Naam)" src="~/Content/images/@(@Html.DisplayFor(model =>model.Foto))" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Naam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Naam)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Omschrijving)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ProductId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProductId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prijs)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prijs)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Aantal)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Aantal)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Uitleenbaarheid)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Uitleenbaarheid)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Plaats)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Plaats)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Firma.Naam)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firma.Naam)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Firma.Contactemail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Firma.Contactemail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Firma.FirmaUrl)
            </dt>

            <dd>
                <a href="http://@Model.Firma.FirmaUrl" target="_blank">@Model.Firma.FirmaUrl</a>  
            </dd>
    
        
            <dt>
                @Html.DisplayNameFor(model => model.Doelgroepen)
            </dt>
            
            <dd>

                @{
                    //teller voor komma op het einde van de lijst niet weer te geven
                    int teller = Model.Doelgroepen.Count;
                    foreach (var doel in Model.Doelgroepen.ToList()) {
                        <span>@doel.Naam</span>
                        if (teller>1) {
                            <span>, </span>
                            teller--;
                        }
                    }
                }

                
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Leergebieden)
            </dt>

            <dd>
                @{
                    //teller voor komma op het einde van de lijst niet weer te geven
                    int teller2 = Model.Doelgroepen.Count;
                    foreach (var leer in Model.Leergebieden.ToList())
                    {
                        <span>@leer.Naam</span>
                        if (teller2 > 1)
                        {
                            <span>, </span>
                            teller2--;
                        }
                    }
                }

            </dd>



            <dt>
                Reservaties
                
            </dt>
            <dd>
                @{
                        var reservatiesInWeek = Model.ReservatiesAbstr.Where(r => Helper.BerekenWeek(r.StartDatum) == Helper.BerekenWeek((DateTime) TempData["selectedDate"]) && r is Reservatie).ToList();
                        if (reservatiesInWeek.Count > 0) {
                            foreach (var res in reservatiesInWeek) {
                            <span>STUDENT: @res.Gebruiker.Email  AANTAL: @res.Aantal  <br /></span>
                            }
                        }
                        else {
                        <span>--</span>
                        }
                    }
               
            </dd>



            <dt>
                Blokkeringen
               
            </dt>
            <dd>
                @{

                    var blokkeringenInWeek = Model.ReservatiesAbstr.Where(b => Helper.BerekenWeek(b.StartDatum) == Helper.BerekenWeek((DateTime)TempData["selectedDate"]) && b is Blokkering).ToList();

                    if (blokkeringenInWeek.Count > 0) {
                        foreach (var reservatieAbstr in blokkeringenInWeek) {
                            var blok = (Blokkering) reservatieAbstr;

                            <span>
                                LECTOR: @blok.Gebruiker.Email  AANTAL: @blok.Aantal  WEEKDAGEN:

                                @*weekdagen worden niet weergegeven ?*@
                                @{ int teller6 = blok.Weekdagen.Count(); }
                                @foreach (var week in blok.Weekdagen.ToList()) {
                                    <span>  @week.Naam </span>
                                    if (teller6 > 1) {
                                        <span>, </span>
                                        teller6--;
                                    }
                                }


                                <br />
                            </span>
                                        }
                                    }
                                    else {
                                        <span>--</span>
                                    }
                                    <br />
                }
               
            </dd>








        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        @Html.ActionLink("Terug naar verlanglijst", "Index")
        
        
    </p>
</body>
</html>
